@page
@model TheUKTories.FrontendApp.Pages.Admin.UK.Austerity.DetailsModel

@{
    ViewData["Title"] = "Details";
}

@await Html.PartialAsync("Partials/_PageTitlePartial", "Austerity details")

<govuk-summary-list>
    <govuk-summary-list-row>
        <govuk-summary-list-row-key>
            @Html.DisplayNameFor(model => model.UKAusterityMeasure.Type)
        </govuk-summary-list-row-key>
        <govuk-summary-list-row-value>
            @Html.DisplayFor(model => model.UKAusterityMeasure.Type)
        </govuk-summary-list-row-value>
    </govuk-summary-list-row>
    <govuk-summary-list-row>
        <govuk-summary-list-row-key>
            @Html.DisplayNameFor(model => model.UKAusterityMeasure.Title)
        </govuk-summary-list-row-key>
        <govuk-summary-list-row-value>
            @Html.DisplayFor(model => model.UKAusterityMeasure.Title)
        </govuk-summary-list-row-value>
    </govuk-summary-list-row>
    <govuk-summary-list-row>
        <govuk-summary-list-row-key>
            @Html.DisplayNameFor(model => model.UKAusterityMeasure.Date)
        </govuk-summary-list-row-key>
        <govuk-summary-list-row-value>
            @Html.DisplayFor(model => model.UKAusterityMeasure.Date)
        </govuk-summary-list-row-value>
    </govuk-summary-list-row>
</govuk-summary-list>

<div>
    <a class="govuk-button" asp-page="./Edit" asp-route-id="@Model.UKAusterityMeasure?.Id">Edit</a>
    <a class="govuk-button" asp-page="./Delete" asp-route-id="@Model.UKAusterityMeasure?.Id">Delete</a>
    <a class="govuk-button" asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}