@page
@model TheUKTories.FrontendApp.Pages.Admin.UK.Austerity.IndexModel

@{
    ViewData["Title"] = "Index";
}

@await Html.PartialAsync("Partials/_PageTitlePartial", "New Austerity Measure")

<p>
    <a class="govuk-button" asp-page="Create">Create New</a>
</p>

@foreach (var item in Model.UKAusterityMeasure) {
        <govuk-summary-list>
    <govuk-summary-list-row>
        <govuk-summary-list-row-key>
            @Html.DisplayNameFor(model => model.UKAusterityMeasure[0].Type)
        </govuk-summary-list-row-key>
        <govuk-summary-list-row-value>
            @Html.DisplayFor(modelItem => item.Type)
        </govuk-summary-list-row-value>
    </govuk-summary-list-row>
    <govuk-summary-list-row>
        <govuk-summary-list-row-key>
            @Html.DisplayNameFor(model => model.UKAusterityMeasure[0].Title)
        </govuk-summary-list-row-key>
        <govuk-summary-list-row-value>
            @Html.DisplayFor(modelItem => item.Title)
        </govuk-summary-list-row-value>
    </govuk-summary-list-row>
    <govuk-summary-list-row>
        <govuk-summary-list-row-key>
            @Html.DisplayNameFor(model => model.UKAusterityMeasure[0].Date)
        </govuk-summary-list-row-key>
        <govuk-summary-list-row-value>
            @Html.DisplayFor(modelItem => item.Date)
        </govuk-summary-list-row-value>
    </govuk-summary-list-row>

    <govuk-summary-list-row>
        <govuk-summary-list-row-action asp-page="./Details" asp-route-id="@item.Id">Details</govuk-summary-list-row-action>
        <govuk-summary-list-row-action asp-page="./Edit" asp-route-id="@item.Id">Edit</govuk-summary-list-row-action>
        <govuk-summary-list-row-action asp-page="./Delete" asp-route-id="@item.Id">Delete</govuk-summary-list-row-action>
    </govuk-summary-list-row>
</govuk-summary-list>
}