@model List<UKAusterityMeasureSource> 

@if (Model.Count() == 1)
        {
            <small>
                -
                <a href="@Model[0].Link" target="_blank">@Model[0].Source</a>
    </small>
}
else
{
     <small>
        -
        @* iterate the source items, minus the last item, add it to html with seperator. write last source *@
        @foreach (var item in Model.Take(Model.Count - 1))
        {
            <span><a href="@item.Link" target="_blank">
                @item.Source 
            </a> |</span>
        }
        <a href="@Model.Last().Link" target="_blank">@Model.Last().Source</a>
    </small>   
}

