@page
@model TheUKTories.FrontendApp.Pages.Portal.People.Quotes.Sources.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.PersonQuoteSource[0].PersonQuote)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PersonQuoteSource[0].Source)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PersonQuoteSource[0].Link)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PersonQuoteSource[0].Date)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.PersonQuoteSource) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.PersonQuote.PersonQuoteId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Source)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Link)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.PersonQuoteSourceId">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.PersonQuoteSourceId">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.PersonQuoteSourceId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
