@page
@model TheUKTories.FrontendApp.Pages.Admin.Messages.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

@await Html.PartialAsync("Partials/_PageTitlePartial", "Are you sure you want to delete this?")

<govuk-summary-list>
    <govuk-summary-list-row>
        <govuk-summary-list-row-key>
            @Html.DisplayNameFor(model => model.Contact.Name)
        </govuk-summary-list-row-key>
        <govuk-summary-list-row-value>
            @Html.DisplayFor(model => model.Contact.Name)
        </govuk-summary-list-row-value>
    </govuk-summary-list-row>
    <govuk-summary-list-row>
        <govuk-summary-list-row-key>
            @Html.DisplayNameFor(model => model.Contact.EmailAddress)
        </govuk-summary-list-row-key>
        <govuk-summary-list-row-value>
            @Html.DisplayFor(model => model.Contact.EmailAddress)
        </govuk-summary-list-row-value>
    </govuk-summary-list-row>
    <govuk-summary-list-row>
        <govuk-summary-list-row-key>
            @Html.DisplayNameFor(model => model.Contact.Details)
        </govuk-summary-list-row-key>
        <govuk-summary-list-row-value>
            @Html.DisplayFor(model => model.Contact.Details)
        </govuk-summary-list-row-value>
    </govuk-summary-list-row>
    <govuk-summary-list-row>
        <govuk-summary-list-row-key>
            @Html.DisplayNameFor(model => model.Contact.Message)
        </govuk-summary-list-row-key>
        <govuk-summary-list-row-value>
            @Html.DisplayFor(model => model.Contact.Message)
        </govuk-summary-list-row-value>
    </govuk-summary-list-row>
</govuk-summary-list>
    
<form method="post">
    <input type="hidden" asp-for="Contact.Id" />
    <input type="submit" value="Delete" class="govuk-button" />
    <a class="govuk-button" asp-page="./Index">Back to List</a>
</form>

