@page
@model TheUKTories.Pages.UK.CoronavirusModel
@using GovUk.Frontend.AspNetCore
@{
    ViewData["Title"] = "UK - Coronavirus";
    ViewData["SelectedTopItem"] = "UK";
}

<govuk-breadcrumbs>
    <govuk-breadcrumbs-item href="/">Home</govuk-breadcrumbs-item>
    <govuk-breadcrumbs-item href="/uk">UK</govuk-breadcrumbs-item>
    <govuk-breadcrumbs-item href="/uk/coronavirus">Coronavirus</govuk-breadcrumbs-item>
</govuk-breadcrumbs>

<span class="govuk-caption-l" id="contractlist">The Fabled Money Tree</span>
<h2 class="govuk-heading-l">Covid Contracts</h2>
<ul class="govuk-list govuk-list--bullet govuk-list--spaced">
    @foreach (CovidContracts item in Model.Contracts)
    {
        <li>
            @item.String

            @if (item.Sources.Count() == 1)
            {
                <small>
                    -
                    <a href="@item.Sources[0].Link" target="_blank">@item.Sources[0].Source</a>
                </small>
            }
            @if (item.Sources.Count() > 1)
            {
                <small>
                    -
                    @for (int i = 0; i < item.Sources.Count() - 1; i++)
                    {
                        <span><a href="@item.Sources[i].Link" target="_blank">@item.Sources[i].Source</a>|</span>
                    }
                    <a href="@item.Sources.Last().Link" target="_blank">@item.Sources.Last().Source</a>
                </small>

            }
            @if (item.GovContracts != null)
            {
                    <ul class="govuk-list">
                        @foreach (GovContract citem in item.GovContracts)
                        {
                            <li><small>@citem.Source - <a href="@citem.Link" target="_blank">govuk</a></small></li>
                        }
                    </ul>
            }
        </li>
    }
</ul>

<span class="govuk-caption-l" id="responselist">Government Response</span>
<h2 class="govuk-heading-l">United Kingdom</h2>
<ul class="govuk-list govuk-list--bullet govuk-list--spaced">
    @foreach (CovidResponses item in Model.Responses.OrderByDescending(i => i.Date))
    {
        <li>
            @item.String

            @if (item.Sources.Count() == 1)
            {
                <small>
                    -
                    <a href="@item.Sources[0].Link" target="_blank">@item.Sources[0].Source</a>
                </small>
            }
            @if (item.Sources.Count() > 1)
            {
                <small>
                    -
                    @for (int i = 0; i < item.Sources.Count() - 1; i++)
                    {
                        <span><a href="@item.Sources[i].Link" target="_blank">@item.Sources[i].Source</a>|</span>
                    }
                    <a href="@item.Sources.Last().Link" target="_blank">@item.Sources.Last().Source</a>
                </small>

            }
        </li>
    }
</ul>