@page
@model TheUKTories.Client.Pages.UK.Coronavirus.IndexModel
@using GovUk.Frontend.AspNetCore
@using System.Globalization
@{
    string FormatPrice(double p)
    {
        var fp = p.ToString("C3", CultureInfo.CreateSpecificCulture("en-GB"));
        return fp.Remove(fp.Length - 1);
    }
}
@section Head {
    <style>
        .govuk-accordion__section-button:hover,
        .govuk-caption-l:hover,
        .govuk-heading-l:hover {
            text-decoration: none !important;
        }
        .govuk-accordion__section-button:focus {
            background-color: transparent !important;
            box-shadow: none !important;
            outline: none !important;
        }
    </style>
}

<govuk-breadcrumbs>
    <govuk-breadcrumbs-item asp-page="/Index">Home</govuk-breadcrumbs-item>
    <govuk-breadcrumbs-item asp-page="/UK/Index">UK</govuk-breadcrumbs-item>
    <govuk-breadcrumbs-item asp-page="/UK/Coronavirus/Index">Coronavirus</govuk-breadcrumbs-item>
</govuk-breadcrumbs>

<span class="govuk-caption-l" id="contractlist">An Omnibus of Omnishambles</span>
<h1 class="govuk-heading-xl">UK Coronavirus Response</h1>

<div class="govuk-accordion" data-module="govuk-accordion" id="accordion-default">
    <div class="govuk-accordion__section ">
        <div class="govuk-accordion__section-header">
            <h2 class="govuk-accordion__section-heading">
                <span class="govuk-accordion__section-button" id="accordion-contracts">
                    <span class="govuk-caption-l" id="contractlist">The Fabled Money Tree <strong class="govuk-tag">@Model.TotalContracts</strong></span>
                    <h2 class="govuk-heading-l">Covid Contracts</h2>
                </span>
            </h2>
        </div>
        <div id="accordion-contracts" class="govuk-accordion__section-content" aria-labelledby="accordion-contracts">
            <span class="govuk-caption-m">How much of our tax has lined the pockets of the very rich</span>
            <h1 class="govuk-heading-l">@FormatPrice(Model.Total)</h1>

            @foreach (GovContractCompany company in Model.Companies)
            {
                <h1 class="govuk-heading-l">@company.CompanyName</h1>
                <p class="govuk-body-lead">@company.Description</p>
                <dl class="govuk-summary-list">
                    @foreach (GovContract contract in company.Contracts)
                    {
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">
                                @FormatPrice(contract.Cost)
                            </dt>
                            <dd class="govuk-summary-list__value">
                                @contract.Description
                            </dd>
                            <dd class="govuk-summary-list__actions">
                                <a class="govuk-link" href="https://www.contractsfinder.service.gov.uk/notice/@contract.Link">
                                    Link
                                </a>
                            </dd>
                        </div>
                    }

                </dl>
            }
        </div>
        <div class="govuk-accordion__section ">
            <div class="govuk-accordion__section-header">
                <h2 class="govuk-accordion__section-heading">
                    <span class="govuk-accordion__section-button" id="accordion-responses">
                        <span class="govuk-caption-l">Government Responses <strong class="govuk-tag">@Model.Responses.Count</strong></span>
                        <h2 class="govuk-heading-l">United Kingdom</h2>
                    </span>
                </h2>
            </div>
            <div id="accordion-responses" class="govuk-accordion__section-content" aria-labelledby="accordion-responses">
                <ul class="govuk-list govuk-list--bullet govuk-list--spaced">
                    @foreach (CovidResponses item in Model.Responses.OrderByDescending(i => i.Date))
                    {
                        <li>
                            @item.String

                            @if (item.Sources.Count() == 1)
                            {
                                <small>
                                    -
                                    <a href="@item.Sources[0].Link" target="_blank">@item.Sources[0].Source</a>
                                </small>
                            }
                            @if (item.Sources.Count() > 1)
                            {
                                @await Html.PartialAsync("_ListSourcesPartial", item.Sources)
                            }
                        </li>
                    }
                </ul>
            </div>
        </div>
    </div>
