@page
@model TheUKTories.FrontendApp.Pages.UK.Covid.IndexModel
@using System.Globalization
@{
    string FormatPrice(double p)
    {
        var fp = p.ToString("C3", CultureInfo.CreateSpecificCulture("en-GB"));
        return fp.Remove(fp.Length - 1);
   
    }
}

<span class="govuk-caption-l" id="contractlist">An Omnibus of Omnishambles</span>
<h1 class="govuk-heading-xl">UK Coronavirus Response</h1>

@await Html.PartialAsync("Partials/General/Titles/_TitleWithSub", ("The Fabled Money Tree", "Covid Contracts"))

@await Html.PartialAsync("Partials/General/Titles/_Title", "Government Responses to the Virus")

<ul class="govuk-list govuk-list--bullet govuk-list--spaced">
    @foreach (CovidGovResponse item in Model.AllResponses)
    {
        <li>@item.
        @if (item.CovidGovResponseSources != null)
            {
                @if (item.CovidGovResponseSources.Count == 1)
                {
                    <small><a href="@item.CovidGovResponseSources.FirstOrDefault().Link" target="_blank">@item.CovidGovResponseSources.FirstOrDefault().Source</a></small>
                } else
                {
                    @foreach (var sourceitem in item.CovidGovResponseSources)
                    {
                        <a href="@sourceitem.Link" target="_blank"> @sourceitem.Source </a>
                    }
                    
                }
            }else
            {
                @if (User.Identity.IsAuthenticated)
                {
                    <govuk-tag class="govuk-tag--red">SOURCES NEEDED</govuk-tag>
                }
            }
        </li>
    }
</ul>
